<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torrent De Filmes</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
</head>
<body >
    <main id="tema">
        <header>
            <a href="#"><h1>
                 <a href="/">Scrapirate</a>
            </h1></a>
            <ul class="navigation">
                <li><a href="#">filmes</a></li>
                <li><a href="#">series</a></li>
                <div id="quick-search-container">
                    <input id="quick-search-input" name="query" autocomplete="off" type="search" placeholder="Pesquisa rápida">
                </div>
            </ul>
        </header>
        <div id="bk"></div>
        <div id="over"></div>
        <div class="container"></div>
    </main>
    <script src="/scripts/node.js"></script>
</body>
</html>